---
import { getImage } from '@astrojs/image';
import { Image, Picture } from '@astrojs/image/components'
const {
  title       = '// loading project name',
  subtitle    = '',
  role        = '',
  description = '',
  dates       = '',
  length      = '',
  img,
  visitLink,
} = Astro.props;

---
<div class="container">
  <div class="flex h-full">
    <div class="left">
      <div>
        <div class="dates">
          {dates}
        </div>
        <div class="title">
          {title}
        </div>
        <div class="subtitle">
          {subtitle}
        </div>
      </div>
      <div>
        <div class="main-text">
          <b>Roles: </b>{role}
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-image">
        <img 
           height="250"
           aspectRatio="16:9"
           src={img}
           alt={title + ' cover image'} 
        />
      </div>
      <div class="image-description">
        {description}
      </div>
      <div class="link-section">
        {visitLink ? <div class="link"><span>Visitar</span></div> : null}
        <div class="link"><span>Ver más + </span></div>
      </div>
    </div>
  </div>
</div>

<style>

  .link-section {
    @apply flex justify-end;

  }

  .link span {
    @apply text-right py-2 italic text-gray-500 
      hover:bg-slate-700 hover:text-white leading-none px-2 rounded-sm
      transition cursor-pointer
  }
  .link {
    @apply flex justify-end text-sm pr-2;
  }

  .container {
    @apply leading-tight;
    @apply rounded-xl bg-white shadow-xl;
    
    height: 250px;
    width: 400px;
  }


  .left {
    @apply
      p-4 grow h-full
      flex flex-col justify-between
    ;
    flex: 5;
  }

  .right {
    @apply 
      flex flex-col
    ;
    flex: 9;
  }

  .right-image {
    @apply
      rounded-xl
    ;
  }

  .image-description {
    @apply p-4 text-xs text-right;
  }

  .title {
    @apply
      font-bold
      leading-tight
      text-lg
    ;
  }

  .subtitle {
  }

  .dates {
    @apply text-sm font-mono;
  }

  .main-text {
    @apply
      text-sm
    ;
  }

</style>

